@inherits LayoutComponentBase

<div class="page">
	<div class="nav-menu">
		<NavMenu />
	</div>

	<main>
		<div class="body-container">
			@Body
		</div>
	</main>
    
	<footer>
		<p>Github: Alexanderrcm1</p>
	</footer>
</div>