@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="column">
		<img src="HomeImgs/9.jpg">
		<img src="HomeImgs/4.jpg">
	</div>
	<div class="column">
		<img src="HomeImgs/3.jpg">
		<img src="HomeImgs/2.jpg">
	</div>
	<div class="column">
		<img src="HomeImgs/6.jpg">
		<img src="HomeImgs/8.jpg">
	</div>
	<div class="column">
		<img src="HomeImgs/7.jpg">
		<img src="HomeImgs/1.jpg">
	</div>
</div>
