@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="column">
		<img src="HomeImgs/9.jpg">
		<img src="HomeImgs/4.jpg">
	</div>
	<div class="column">
		<img src="HomeImgs/2.jpg">
		<img src="HomeImgs/3.jpg">
	</div>
	<div class="column">
		<img src="HomeImgs/6.jpg">
		<img src="HomeImgs/8.jpg">
	</div>
	<div class="column">
		<img src="HomeImgs/7.jpg">
		<img src="HomeImgs/1.jpg">
	</div>
</div>

@* 	<h1>Welcome to <strong>Sneakz</strong> - the only sneaker store you'll ever need!</h1>
	<p>We bring you the latest drops, timeless classics, and exclusive kicks that make every step legendary. Whether you're a collector, a trendsetter, or just looking for the perfect everyday pair, Sneakz has you covered.</p> *@
