@page "/register"
@using WebshopFrontend.Components.MyComponents
@using WebshopLibrary.DTOs
@rendermode InteractiveServer
@inject CustomAuthStateProvider AuthStateProvider

<div class="register-form-container">
	<RegisterComponent />
</div>

